{
  "extends": ["galex", "plugin:typescript-sort-keys/recommended"],
  "env": { "node": true },
  "plugins": ["typescript-sort-keys"],
  "rules": {
    "no-console": "off",
    "import/order": "off"
  }
}
